* {
    box-sizing: 0;
    padding: 0;
    margin: 0%;
}
.content_primary {
    grid-template-columns: repeat(2, 1fr);         
    display: grid;       
}
.item-description {      
    padding: 10px;  
    font-size: 1rem;   
}
.title_styles {
    font-family: "arial black";
    font-size: 2.3rem;
    margin-top: 40%;
    padding-left: 5%;    
}
.text_styles{
    font-family: "fira-sanks";
    padding-left: 5%;
}
.template_images-social_networks {              
    display: flex;    
    align-items: center;         
    padding-left: 5%;
    grid-gap: 1%;
    margin-top: 4%;       
}
.size_social_networks {
    max-width: 80%; 
}
.image_position-size {   
    max-width: 70%; 
    width: inherit;      
    height: auto;
    margin-top: 20%;
    margin-left: 15%;
}
.content_secondary {
    grid-template-columns: repeat(3, minmax(100px, 350px));     
    background-color: #F8F9F9;        
    display: grid;    
    grid-gap: 5%;
    justify-content: center;  
    align-items: center;      
    padding-top: 10%;    
    padding-bottom: 10%;    
}
.item-attributes {
    background-color: white;            
    box-shadow: 2px 2px 2px 2px #C2C6C6;
    border-radius: 5%;
    padding: 10px;    
}
.size-margin_image_Web-Designer {
    max-width: 20%;  
    margin-top: 5%;       
    margin-left: 5%;
}
 .size-margin_image_Front-end-Developer {
    max-width: 20%; 
    margin-top: 5%;        
    margin-left: 5%;
}
 .size-margin_image_Software-Developer {
    max-width: 15%; 
    margin-top: 3%;
    margin-left: 7%;
}
 .subtitle_content_secondary {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-left: 6%;    
}
.text_content_secondary {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-left: 7%;    
}
.styles_hypertext_LEARN-MORE {   
    color: #77DEF0;   
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 
.text-align_LEARN-MORE {
    padding-left: 7%;
    padding-bottom: 5%;
}
.content_thrird {
    background-color: white;   
}
.subtitle_SKILLS_styles {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    margin-top: 5%;
}
.line_skills_subtitle {
    background-color: #363737;    
    margin-top: 0.5%;
    margin-left: 46%;    
    margin-bottom: 10%;
    height: 1px;
    width: 8%;
}
.content_SKILLS {
    background-color: white;        
    grid-template-columns: repeat(4, minmax(100px, 200px)); 
    display: grid;
    grid-gap: 7%;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 20%;    
}
.item_skills {
    box-shadow: 2px 2px 2px 2px #C2C6C6;
    border-radius: 5%;    
}
.subtitle_skills_styles {
    font-family: Arial, Helvetica, sans-serif;     
    text-align: center;
    margin-top: 5%;  
}
.image_skills_creative{
    margin-top: 5%;
    margin-left: 15%;    
}
.image_skills_teamwork {
    margin-top: 8%;
    margin-left: 15%;    
    margin-bottom: 2%;
}
.image_skills_proactive {
    margin-top: 7%;  
    margin-left: 15%;
}
.image_skills_autodidactic {
    margin-top: 7%;
    margin-left: 15%;    
    margin-bottom: 5%;
}
.item_skills {
    box-shadow: 2px 2px 2px 2px #C2C6C6;
    border-radius: 5%;    
    width: 250px;
    height: 200px; 
}
.content_fourth {
    background-color: #363737;
    justify-items: center;
}
.subtitle_porfalio_styles {
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    color: white;
    padding-top: 5%; 
}
.line_portafolio_subtitle {
    background-color: white;    
    margin-left: 44%;    
    margin-bottom: 5%;
    width: 12%;
    height: 1%;
}
.content_portafolio {
    grid-template-columns: repeat(4, minmax(80px, 200px));     
    grid-template-rows: repeat(4, minmax(80px, 200px));
    grid-template-rows: repeat(4, minmax(80px, 200px));
    justify-content: center;    
    display: grid;       
    grid-gap: 1%;
}
.size_portafolio {    
    width: 200px;
    height: 200px;
}
.content_fifth {
    background-color: #363737;       
    grid-template-columns: repeat(2, 1fr);           
    display: grid;    
}
.line_footer {
    color: white;
    height: 1%;    
}
.item_footer_primary {    
    display: flex;
    grid-gap: 2%;  
    align-items: center;
    justify-content: start;
    margin-left: 5%;    
}
.font-family_mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.item_footer_secondary {    
    display: flex;    
    min-width: 50%;   
    grid-gap: 5%; 
    justify-items: end;
    margin-top: 5%;
    margin-left: 55%;
    margin-bottom: 5%;    
}
.size_footer_social_networks {
    max-width: 85%; 
}